:root {
    --control-bar-height: 100px;
    --text-wrapper-height: calc(100vh - var(--control-bar-height));
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font-family);
}
div#root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div.album-image-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    animation-delay: var(--view-duration);
    animation-duration: var(--transition-duration);
    animation-timing-function: var(--timing-function);
    animation-fill-mode: forwards;
    opacity: 1;
    background: var(--screen-background);
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.album-image {
    max-width: 100%;
    max-height: 100%;
}

div.control-panel-area {
    position: fixed;
    bottom: 0px;
    height: var(--control-bar-height);
    width: 100%;
}

div.control-panel-area div.control-panel {
    display: var(--control-bar-visiblity);
    height: 100%;
    justify-content: center;
    align-items: center;
}

div.control-panel-area:hover div.control-panel {
    display: flex;
}

a.control-btn {
    background: white;
    color: black;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    border: 1px solid black;
    height: 45px;
    width: 45px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
}

a#slideshow-btn {
    padding: 0px;
}

a.control-btn:hover {
    background: grey;
}

div#text-wrapper {
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 0;
    top: 0;
    width: 100vw;
    height: var(--text-wrapper-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#welcome-text{
    padding: 20px 32px;
    border: 1px solid var(--font-color);
    user-select: none;
    /*text-align: center;*/
}
div#welcome-text h3 {
    margin-top: 0;
}