:root {
    --pagination-height: 100px;
    --images-padding: 5px;
    --images-height: calc(100vh - var(--pagination-height) - 2 * var(--images-padding));
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font-family);
}

div#images {
    display: flex;
    flex-wrap: wrap;
    height: var(--images-height);
    overflow-y: scroll;
    justify-content: center;
    align-content: flex-start;
    padding: var(--images-padding);
    gap: 5px;
}

div.image-item {
    border: 2px solid var(--background-color);
    background-color: var(--background-color);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div.image-item:hover {
    border-color: var(--font-color);
}
div.image-item img {
    max-width: 200px;
    max-height: 200px;
}

div.current-item {
    border-color: var(--font-color);
    cursor: default;
}

div#pagination {
    height: var(--pagination-height);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}