body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
div#root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
img.album-image {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    animation-delay: var(--view-duration);
    animation-duration: var(--transition-duration);
    animation-timing-function: var(--timing-function);
    animation-fill-mode: forwards;
    opacity: 1;
}

div.control-panel-area {
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
}

div.control-panel-area div.control-panel {
    display: none;
}

div.control-panel-area:hover div.control-panel {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

a.control-btn {
    background: white;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 25px;
}

a#slideshow-btn {
    
}

a.control-btn:hover {
    background: grey;
}