.page-item, .page-separator {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: var(--font-color);
    user-select: none;
}

a.page-item {
    cursor: pointer;
    padding: 6px;
}

div.page-item, a.page-item:hover {
    border: 1px solid var(--font-color);
    padding: 5px;
}